body {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 30px; /* Přizpůsob výšku podle výšky navbaru */
}
.navbar {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
}
.navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-header {
    margin-right: 15px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header-background {
    background-image: url('https://cdn.discordapp.com/attachments/1221123386457980998/1305582104465113138/background.png?ex=67338d96&is=67323c16&hm=986c15fb67eac731a85c2bb1bb2177c716fe2923a386b0c9eb14ece64cd45fa9&');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.header-logo {
    max-height: 35px; /* Adjust as needed */
    align-self: flex-start;
    margin-top: 35px; /* Move the logo 35px lower */
    margin-left: 20px;
}
